<%- include header.ejs %>
<div class="content-scrollable">
    <div class="wrapper-auth">
        <h1 class="title-auth">Create new tasks.</h1>
        <p class="subtitle-auth">Please input your tasks name.</p>
        <form method="post">
            <div class="input-symbol">
                <input type="text" name="taskName" placeholder="Task Name.">
            </div>
            <button type="submit" class="btn-primary">Create Now</button>
        </form>
    </div>
    <a href="/" class="link-auth-alt">Want to leave this page? leave now.</a>
</div>
<%- include footer.ejs %>